body {
  font-family: sans-serif;
}
body{
  font-family: Times New Roman;
  background-color: #8FD190;
}
#navbar{
  width:100%;
  background-color: #8FD190;
}
#navbar a{
  float: left;
  color: black;
  padding: 10px 175px;
  text-decoration: none;
  font-size: 20px;
}
#navbar a:hover{
  background-color: #DAF7A6;
  color: black;
}
#navbar a:active{
   background-color: #0B5345;
   color: white;
}
#welcome-section{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(to bottom left,#0B5345,#0B5345);
  margin-bottom: 40px;
}
h1{
  font-size: 40px;
  font-family: comic sans;
  color: #DAF7A6;
}
h2{
  font-weight: 200px;
  text-align:center;
  font-size: 30px;
  color: #DAF7A6;
  font-family: surcive;
  font-style: italic;
}
div.projects{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.project-tile{
  margin: auto;
  background-color: #126100;
  text-decoration:none;
  padding:10px;
  width:40px;
  transition:background 1s ease,padding .4s ease;
  cursor:pointer;
  font-size:25px;
  margin:40px;
  
}
.project-tile:hover{
  padding:20px;
  box-shadow:0px 0px 20px #126100;
}
a:hover{
  text-decoration: none;
  color: #DAF7A6;
}
a:visited{
  color: #DAF7A6;
}
a{
  color: #DAF7A6;
  text-decoration:none;
}
#contact-section{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(to bottom left,#0B5345,#0B5345);
  margin-bottom:40px;
}
@media screen and (max-width:600px){
  #navbar{position:fixed;
}